<% events.each do |event| %>

<div class="zx_<%= event.id %> zx_mediaslot">
  <script type="text/javascript">
    window._zx = window._zx || [];
    window._zx.push({"id": "<%= event.id %>"});
    (function(d) {
      var s = d.createElement("script"); s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//static.zanox.com/scripts/zanox.js";
      var a = d.getElementsByTagName("script")[0]; a.parentNode.insertBefore(s, a);
    }(document));
  </script>
</div>

<% end %>